.App {
  text-align: center;
}

html, body {
  background-color: #222;
  margin: 0px;
  font-family: 'Source Sans Pro';
}

h1 {
  color: deeppink;
  font-size: 30px;
  display: inline;
  vertical-align: center;
}

h2 {
  color: deeppink;
  vertical-align: center;
}

.venue-table {
  width: 95%;
}

th {
  color: #E6EED6;
}

.fc-head {
  visibility: hidden;
}

.fc-time {
  color: #E6EED6;
}

/* https://coolors.co/222222-ff1493-a288a6-84acce-3066be */

.fc-event {
  background-color: #3066BE;
  border: 1px solid #84ACCE;
}

.fc-unthemed td.fc-axis {
  color: white;
}

.fc-unthemed tr td.fc-axis {
  background-color: #333;
}

.fc-unthemed tr.fc-minor td.fc-axis {
  background-color: #444;
}

.fc-unthemed td.fc-today {
  background-color: #84ACCE;
}

.fc-unthemed td.fc-past {
  background-color: #333;
}

.fc-unthemed td.fc-future {
  background-color: #333;
}

.date-picker {
  font-size: 16px;
  padding: 10px;
  text-align: center;
}

button.add {
  background-color: gold;
  font-size: 16px;
  padding: 6px;
  display: inline-block;
  width: 150px;
  border: none;
  margin: 0 auto;
}

button.remove {
  background-color: darkgray;
  color: white;
  font-size: 16px;
  padding: 6px;
  display: inline-block;
  width: 150px;
  border: none;
  margin: 0 auto;
}

input.venue-name-input {
  font-size: 20 px;
  padding: 6px;
  margin-right: 15px;
  width: 300px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  padding-bottom: 50px;
  margin: auto;
  background: white;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow-y: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}